@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bellefair Regular'), local('Bellefair-Regular'), url(https://fonts.gstatic.com/s/bellefair/v5/kJExBuYY6AAuhiXUxG1N-Poy.ttf) format('truetype');
}
